// variable

$width: 1296px;

$primary-color: #AA0601;
$secondary-color: #650300;
$text-primary: #fff;
$text-secondary:#650300;
$border-color: #707070;

$fz-s-14: 14px;
$fz-s-18: 18px;
$fz-s-19: 19px;
$fz-s-42: 42px;
$fz-4: 16px;
$fz-5: 20px;
$fz-6: 24px;
$fz-8: 32px;
$fz-9: 36px;
$fz-12: 48px;
$fz-16: 64px;
$fz-20: 80px;

$font-family-base: "Noto Sans TC", "Roboto", "PingFang TC", "SF Pro Text", "Microsoft JhengHei", "微軟正黑體", sans-serif;



