.footer{
    background: $primary-color;
    padding: 48px 0 32px;
    img{
        width: 48px;
        height: 48px;
    }
    a:hover{
        transition: 0.3s;
        opacity: 0.5;
    }
    &-contact{
        font-size: $fz-9;
    }
}

.copyright{
    color: #fff;
    padding-top: calc(32px - 1px);
    font-size: $fz-s-14;
    border-top: 1px solid #fff;
}

@include pad{
    .footer img{
        width: 40px;
        height: 40px;
    }
}

@include mobile{
    .footer{
        padding: 24px 0;
        img{
            width: 24px;
            height: 24px;
        }
        &-contact{
            font-size: $fz-4;   
        }
    }
    .copyright{
        padding-top: calc(16px - 1px);
        font-size: $fz-4;
    }
}