.header{
    background: $primary-color;
    a{
        padding: 25px 0;
        font-size: $fz-5;
        transition: 0.3s;
        &:hover{
            opacity: 0.3;
        }
    }
}
.logo{
    background-image: url(../images/logo-white.png);
    width: 83px;
    height: 48px;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    background-size: cover;
}

@media(max-width:767px){
    .menu{
        img{
            width: 40px;
            height: 40px;
        }
        a{
            padding: 20px 0;
        }
    }
}