// .banner{
//     position: relative;
//     img{
//         background-size: cover;
//     }
//     .container{
//         position: absolute;
//         right: 16%;
//         top: 38%;
//         z-index: 100;
//         text-align: right;
//         p{
//             font-size: $fz-9;
//             color: $secondary-color;
//         }
//         h1{
//             font-size: $fz-16;
//             color: $secondary-color;
//         }
//     }
// }


.banner{
    background-image: url(../images/home-header.png);
    background-size: cover;
    background-position: center center ;
    height: 80vh;
    background-repeat: no-repeat;
    .container{
        width: 100%;
        text-align: right;
        p{
            font-size: $fz-9;
            color: $secondary-color;
        }
        h1{
            font-size: $fz-16;
            color: $secondary-color;
        }
        a{
            display: inline-block;
            padding: 6px 12px;
            color: #fff;
            border: none;
            background: #AA0601;
            font-size: $fz-5;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                opacity: 0.5;
                transform: scale(0.9);
            }
        }
    }
    @include pad{
        background-image: url(../images/home-header-sm.png);
    }
}

@include mobile{
    .banner{
        height: 70vh;
        .container{
            p{
                font-size: $fz-4;
            }
            h1{
                font-size: $fz-6;
            }
        }
    } 
}

@include mobile-md{
    .banner{
        height: 50vh;
    }
}


// ---------------------intro---------------------
.intro{
    background: #FBF2F2;
    padding: 80px 0;
    h2{
        font-size: $fz-12;
        color: $secondary-color;
        text-align: center;
    }
    img{
        width: 100px;
        height: 100px;
    }
    ul li{
        width: 24%;
    }
    &-title{
        font-size: $fz-6;
        color: $secondary-color;
    }
}

@include pad{
    .intro ul li{
        width: 48%;
    }

}

@include mobile{
    .intro{
        padding: 40px 0;
        h2{
            font-size: $fz-6;
        }
        ul li{
            width: 100%;
        } 
    }
}


// ---------------------classic---------------------
.classic{
    padding: 80px 0;
    h2{
        font-size: $fz-12;
        color: $secondary-color;
        text-align: center;
    }
    ul li{
        width: 32%;
    }
    h3{
        font-size: $fz-12;
        color: $primary-color;
        text-align: center;
    }
    a:hover{
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transform: scale(0.9);
        transition: 0.3s;
    }
}

@include pad{
    .classic{
        .container{
            width: 45%;
            padding: 0;
            ul li{
                width: 100%;
            }
        }
    }
}

@include mobile{
    .classic{
        padding: 40px 0;
        .container{
            width: 100%;
            padding: 0 14px 0 13px;
        }
        h2{
            font-size: $fz-6;
        }
    }
}

@include mobile-sm{
    .classic h3{
        font-size: $fz-8;
    }
}

// ---------------------design---------------------
.design{
    background-image: url(../images/index-bg.png);
    background-size: cover;
    background-position: center center;
    padding: 80px 0;
    font-size: $fz-12;
    text-align: center;
    h2{
        color: #fff;
    }
    h3{
        background: #fff;
        color: $primary-color;
        padding: 8px 0;
    }
    a:hover{
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transform: scale(0.9);
        transition: 0.3s;
    }
}

@include pad{
    .design{
        background-image: url(../images/index-bg-sm.png);
        background-position: center top;
    }
}

@include mobile{
    .design{
        padding: 40px 0;
        background-image: url(../images/index-bg-md.png);
        .container{
            width: 100%;
        }
        h2{
            font-size: $fz-6;
        }
        li{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    
    
}


// ---------------------review---------------------
.review{
    padding: 80px 0;
    h2{
        color: $secondary-color;
        font-size: $fz-12;
        text-align: center;
    }
    li{
        width: 24%;
    }
    img{
        border-radius: 4px 4px 0 0;
    }
    &-content{
        border: 1px solid #DEE2E6;
        border-top: none;
        box-shadow: 0px 2px 6px #00000029;
        border-radius: 0 0 4px 4px;
        padding: 16px;
        height: 205px;
    }
    &-time{
        font-size: $fz-s-14;
        color: #707070;
    }
}

@include pad{
    .review ul li{
        width: 48%;
    }
}

@include mobile{
    .review{
        padding: 40px 0;
        h2{
            font-size: $fz-6;
        }
        ul li{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }

}

// ---------------------contact---------------------
.contact{
    background: #FBF2F2;
    padding: 80px 0;
    &-form{
        width: 50%;
        margin: 0 auto;
    }
    h2{
        color: $secondary-color;
        font-size: $fz-12;
        text-align: center;
    }
    p{
        font-size: $fz-5;
    }
    label{
        cursor: pointer;
        &:not(:last-child){
            display: block;
        }
    }
    &-info{
        width: 100%;
        font-size: 14px;
        line-height: 1.5;
        text-indent: 12px;
        padding: 5px 0;
        border: 1px solid #000;
        background: transparent;
    }
    textarea{
        height: 134px;
    }
    &-check{
        margin-top: 6px;
        // background-color: yellow;
        // color: transparent;
    }
    &-submit{
        width: 65%;
        padding: 16px 0;
        line-height: 24px;
        border: none;
        background: $primary-color;
        color: #fff;
        margin: 0 auto;
        display: block;
        cursor: pointer;
        &:hover{
            background: $secondary-color;
        }
    }
}

@include pad{
    .contact{
        &-form{
            width: 79%;
        }
        p{
            font-size: $fz-4;
        }
    }
}

@include mobile{
    .contact{
        padding: 40px 0;
        &-form{
            width: 100%;
        }
        h2{
            font-size: $fz-6;
        }
        &-submit{
            width: 100%;
            &:hover{
                width: 95%;
                transition: all 0.3s;
            }
        }
    }
}