.location1{
    padding: 96px 0 80px;
    h2{
        font-size: $fz-12;
        padding-left: 1rem;
        position: relative;
        &::before{
            content: "";
            width: 8px;
            height: 72px;
            background-color: $primary-color;
            position: absolute;
            left: -4px;
        }
    }
    &-select{
        font-size: $fz-s-18;
        line-height: 26px;
        padding: 5px 238px 5px 12px;
        border: 1px solid #CED4DA;
        color: #495057;
        appearance: none;

        // dropdown arrow
        // position: relative;
        background-image: url(../images/arrow_drop_down_FILL0_wght400_GRAD0_opsz48.svg);
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: right center;
        
        &-label{
            font-size: $fz-6;
        }
    }
}

// --------------------------------ul--------------------------------

.location1-list-item{
    width: 32%;
    a{
        color: #000;
            &:hover{
                opacity: 0.5;
            }
    }
    &-title{
        padding: 7px 0 7px 24px;
        border: 1px solid #00000020;
        font-size: $fz-6;
    }
    &-content{
        padding: 15px 24px;
        border: 1px solid #00000020;
        font-size: $fz-5;
    }
    &-icon{
        width: 24px;
        height: 24px;
    }
    &-detail{
        font-size: $fz-s-19;
        line-height: 27px;
        text-align: center;
        padding: 16px 0;
        background: #000;
        color: #fff;
    }
}

@media(max-width:992px){
    .location1{
        padding: 80px 0;
    }
    .location1-list-item{
        width: 48%;
    }
}

@media(max-width:767px){
    .location1{
        padding: 40px 0 64px;
        &-list-item{
            width: 100%;
        }
        h2{
            font-size: $fz-6;
            &::before{
                height: 36px;
            }
        }
        &-select{
            padding: 5px 0 5px 12px;
            width: 79%;
        }
    }

    .location1-select-label{
        font-size: $fz-4;
    }
}