.qa{
    padding: 96px 0 80px;
    h2{
        font-size: $fz-12;
        padding-left: 1rem;
        position: relative;
        &::before{
            content: "";
            width: 8px;
            height: 72px;
            background-color: $primary-color;
            position: absolute;
            left: -4px;
        }
    }
}