@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*css reset over*/
.mb-1 {
  margin-bottom: 4px; }

.mb-2 {
  margin-bottom: 8px; }

.mb-3 {
  margin-bottom: 12px; }

.mb-4 {
  margin-bottom: 16px; }

.mb-5 {
  margin-bottom: 20px; }

.mb-6 {
  margin-bottom: 24px; }

.mb-7 {
  margin-bottom: 28px; }

.mb-8 {
  margin-bottom: 32px; }

.mb-9 {
  margin-bottom: 36px; }

.mb-10 {
  margin-bottom: 40px; }

.mb-11 {
  margin-bottom: 44px; }

.mb-12 {
  margin-bottom: 48px; }

.mb-13 {
  margin-bottom: 52px; }

.mb-14 {
  margin-bottom: 56px; }

.mb-15 {
  margin-bottom: 60px; }

.mb-16 {
  margin-bottom: 64px; }

.mb-17 {
  margin-bottom: 68px; }

.mb-18 {
  margin-bottom: 72px; }

.mb-20 {
  margin-bottom: 80px; }

.mb-24 {
  margin-bottom: 96px; }

.mb-31 {
  margin-bottom: 124px; }

.mt-3 {
  margin-top: 12px; }

.me-1 {
  margin-right: 4px; }

.me-2 {
  margin-right: 8px; }

.me-3 {
  margin-right: 12px; }

.me-4 {
  margin-right: 16px; }

.me-5 {
  margin-right: 20px; }

.me-6 {
  margin-right: 24px; }

.me-12 {
  margin-right: 48px; }

.ms-2 {
  margin-left: 8px; }

.ms-6 {
  margin-left: 24px; }

.ms-8 {
  margin-left: 32px; }

.ms-12 {
  margin-left: 48px; }

.ms-16 {
  margin-left: 64px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-inline-block {
  display: inline-block; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.f-jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.f-jcsa {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.f-jcse {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.f-jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.f-jcfe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.f-aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.f-ais {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.medium {
  font-weight: 500; }

.bold {
  font-weight: 700; }

.black {
  font-weight: 900; }

.italic {
  font-style: italic; }

.font-eng {
  font-family: "roboto"; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  display: block;
  color: #fff; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

body {
  font-family: "Noto Sans TC", "Roboto", "PingFang TC", "SF Pro Text", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  line-height: 1.5;
  color: #000; }

.container {
  max-width: 1296px;
  margin: 0 auto; }

.d-none {
  display: none; }

@media (max-width: 1296px) {
  .container {
    padding: 0 12px; } }

@media (max-width: 992px) {
  .container {
    padding: 0 36px; }
  .d-md-none {
    display: none; }
  .d-md-block {
    display: block; }
  .d-md-inline-block {
    display: inline-block; }
  .mb-md-0 {
    margin-bottom: 0; }
  .mb-md-1 {
    margin-bottom: 4px; }
  .mb-md-2 {
    margin-bottom: 8px; }
  .mb-md-4 {
    margin-bottom: 16px; }
  .mb-md-6 {
    margin-bottom: 24px; }
  .mb-md-10 {
    margin-bottom: 40px; }
  .mb-md-16 {
    margin-bottom: 64px; }
  .mb-md-20 {
    margin-bottom: 80px; }
  .ms-md-4 {
    margin-left: 16px; }
  .me-md-0 {
    margin: 0; }
  .me-md-4 {
    margin-right: 16px; } }

@media (max-width: 767px) {
  .container {
    padding: 0 14px 0 13px; }
  .d-sm-none {
    display: none; }
  .d-sm-block {
    display: block; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .flex-sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .justify-content-sm-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .align-sm-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
  .flex-sm-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .mb-sm-0 {
    margin-bottom: 0; }
  .mb-sm-2 {
    margin-bottom: 8px; }
  .mb-sm-4 {
    margin-bottom: 16px; }
  .mb-sm-6 {
    margin-bottom: 24px; }
  .mb-sm-16 {
    margin-bottom: 64px; }
  .ms-sm-0 {
    margin-left: 0; }
  .ms-sm-2 {
    margin-left: 8px; }
  .me-sm-0 {
    margin-right: 0; }
  .me-sm-2 {
    margin-right: 8px; }
  .me-sm-4 {
    margin-right: 16px; } }

.header {
  background: #AA0601; }
  .header .menu-list {
    padding: 25px 0;
    font-size: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .header .menu-list:hover {
      opacity: 0.8;
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9); }

.logo {
  background-image: url(../images/logo-white.png);
  width: 83px;
  height: 50px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background-size: cover; }

@media (max-width: 992px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0; }
    header .container {
      position: relative; }
  .menu img {
    width: 40px;
    height: 40px; }
  .menu-btn {
    padding: 20px 0; }
  .menu-drop {
    width: 100%;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    right: 0;
    z-index: 10; }
    .menu-drop li {
      width: 50%; }
    .menu-drop-list {
      background: #AA0601;
      padding: 12px 0;
      border: 1px solid #fff;
      opacity: 0.7; }
      .menu-drop-list:hover {
        background-color: #fff;
        color: #AA0601;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
    .menu-drop .border-top-none {
      border-top: none; }
    .menu-drop .border-right-none {
      border-right: none; } }

.footer {
  background: #AA0601;
  padding: 48px 0 32px; }
  .footer img {
    width: 48px;
    height: 48px; }
  .footer a:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5; }
  .footer-contact {
    font-size: 36px; }

.copyright {
  color: #fff;
  padding-top: calc(32px - 1px);
  font-size: 14px;
  border-top: 1px solid #fff; }

@media (max-width: 992px) {
  .footer img {
    width: 40px;
    height: 40px; } }

@media (max-width: 767px) {
  .footer {
    padding: 24px 0; }
    .footer img {
      width: 24px;
      height: 24px; }
    .footer-contact {
      font-size: 16px; }
  .copyright {
    padding-top: calc(16px - 1px);
    font-size: 16px; } }

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-position: center center;
  height: 80vh;
  background-repeat: no-repeat; }
  .banner .container {
    width: 100%;
    text-align: right; }
    .banner .container p {
      font-size: 36px;
      color: #650300; }
    .banner .container h1 {
      font-size: 64px;
      color: #650300; }
    .banner .container a {
      display: inline-block;
      padding: 6px 12px;
      color: #fff;
      border: none;
      background: #AA0601;
      font-size: 20px;
      cursor: pointer;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .banner .container a:hover {
        opacity: 0.5;
        -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
                transform: scale(0.9); }
  @media (max-width: 992px) {
    .banner {
      background-image: url(../images/home-header-sm.png); } }

@media (max-width: 767px) {
  .banner {
    height: 70vh; }
    .banner .container p {
      font-size: 16px; }
    .banner .container h1 {
      font-size: 24px; } }

@media (max-width: 414px) {
  .banner {
    height: 50vh; } }

.intro {
  background: #FBF2F2;
  padding: 80px 0; }
  .intro h2 {
    font-size: 48px;
    color: #650300;
    text-align: center; }
  .intro img {
    width: 100px;
    height: 100px; }
  .intro ul li {
    width: 24%; }
  .intro-title {
    font-size: 24px;
    color: #650300; }

@media (max-width: 992px) {
  .intro ul li {
    width: 48%; } }

@media (max-width: 767px) {
  .intro {
    padding: 40px 0; }
    .intro h2 {
      font-size: 24px; }
    .intro ul li {
      width: 100%; } }

.classic {
  padding: 80px 0; }
  .classic h2 {
    font-size: 48px;
    color: #650300;
    text-align: center; }
  .classic ul li {
    width: 32%; }
  .classic h3 {
    font-size: 48px;
    color: #AA0601;
    text-align: center; }
  .classic a:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

@media (max-width: 992px) {
  .classic .container {
    width: 45%;
    padding: 0; }
    .classic .container ul li {
      width: 100%; } }

@media (max-width: 767px) {
  .classic {
    padding: 40px 0; }
    .classic .container {
      width: 100%;
      padding: 0 14px 0 13px; }
    .classic h2 {
      font-size: 24px; } }

@media (max-width: 330px) {
  .classic h3 {
    font-size: 32px; } }

.design {
  background-image: url(../images/index-bg.png);
  background-size: cover;
  background-position: center center;
  padding: 80px 0;
  font-size: 48px;
  text-align: center; }
  .design h2 {
    color: #fff; }
  .design h3 {
    background: #fff;
    color: #AA0601;
    padding: 8px 0; }
  .design a:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

@media (max-width: 992px) {
  .design {
    background-image: url(../images/index-bg-sm.png);
    background-position: center top; } }

@media (max-width: 767px) {
  .design {
    padding: 40px 0;
    background-image: url(../images/index-bg-md.png); }
    .design .container {
      width: 100%; }
    .design h2 {
      font-size: 24px; }
    .design li {
      width: 100%; }
      .design li img {
        width: 100%; } }

.review {
  padding: 80px 0; }
  .review h2 {
    color: #650300;
    font-size: 48px;
    text-align: center; }
  .review li {
    width: 24%; }
  .review img {
    border-radius: 4px 4px 0 0; }
  .review-content {
    border: 1px solid #DEE2E6;
    border-top: none;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    border-radius: 0 0 4px 4px;
    padding: 16px;
    height: 205px; }
  .review-time {
    font-size: 14px;
    color: #707070; }

@media (max-width: 992px) {
  .review ul li {
    width: 48%; } }

@media (max-width: 767px) {
  .review {
    padding: 40px 0; }
    .review h2 {
      font-size: 24px; }
    .review ul li {
      width: 100%; }
      .review ul li img {
        width: 100%; } }

.contact {
  background: #FBF2F2;
  padding: 80px 0; }
  .contact-form {
    width: 50%;
    margin: 0 auto; }
  .contact h2 {
    color: #650300;
    font-size: 48px;
    text-align: center; }
  .contact p {
    font-size: 20px; }
  .contact label {
    cursor: pointer; }
    .contact label:not(:last-child) {
      display: block; }
  .contact-info {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    text-indent: 12px;
    padding: 5px 0;
    border: 1px solid #000;
    background: transparent; }
  .contact textarea {
    height: 134px; }
  .contact-check {
    margin-top: 6px; }
  .contact-submit {
    width: 65%;
    padding: 16px 0;
    line-height: 24px;
    border: none;
    background: #AA0601;
    color: #fff;
    margin: 0 auto;
    display: block;
    cursor: pointer; }
    .contact-submit:hover {
      background: #650300; }

@media (max-width: 992px) {
  .contact-form {
    width: 79%; }
  .contact p {
    font-size: 16px; } }

@media (max-width: 767px) {
  .contact {
    padding: 40px 0; }
    .contact-form {
      width: 100%; }
    .contact h2 {
      font-size: 24px; }
    .contact-submit {
      width: 100%; }
      .contact-submit:hover {
        width: 95%;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; } }

.products-optical-menu li {
  width: 33.3333333%;
  border: 1px solid #DCDCDC; }
  .products-optical-menu li a {
    padding: 24px 0 16px;
    color: #000;
    text-align: center;
    font-size: 32px;
    border-bottom: 8px solid transparent; }
    .products-optical-menu li a:hover {
      border-bottom: 8px solid #AA0601; }
    .products-optical-menu li a:focus {
      border-bottom: 8px solid #AA0601; }

@media (max-width: 992px) {
  .nav .container {
    padding: 0; }
  .products-optical-menu li a {
    padding: 16px 0 8px;
    font-size: 24px; } }

@media (max-width: 767px) {
  .products-optical-menu li a {
    font-size: 16px; } }

@media (max-width: 330px) {
  .products-optical-menu li {
    width: 100%; } }

.products-optical-banner img {
  width: 50%; }

.products-optical {
  padding: 80px 0; }
  .products-optical h3 {
    font-size: 42px;
    text-align: center; }
  .products-optical-subtitle {
    font-size: 32px;
    text-align: center; }

.products-optical-item {
  width: 24%;
  font-size: 24px; }
  .products-optical-item-content {
    color: #AA0601; }
  .products-optical-item-colorbox {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer; }
    .products-optical-item-colorbox:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .products-optical-item-colorbox-brown {
      background-color: #5F3E2D; }
    .products-optical-item-colorbox-orange {
      background-color: #B75929; }

.products-optical-pagination a {
  color: #555555;
  border: 1px solid #555555;
  padding: 12px 16px;
  font-size: 18px; }
  .products-optical-pagination a:hover {
    background-color: #000;
    color: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.products-optical-pagination-next {
  background-color: #F2F2F2; }

@media (max-width: 992px) {
  .products-optical-item {
    width: 48%; } }

@media (max-width: 767px) {
  .products-optical {
    padding: 40px 0 64px; }
    .products-optical h3 {
      font-size: 24px; }
    .products-optical-subtitle {
      font-size: 24px; }
    .products-optical-item {
      width: 100%; }
      .products-optical-item img {
        width: 100%; }
    .products-optical-pagination a {
      font-size: 16px;
      padding: 8px 12px; } }

@media (max-width: 330px) {
  .products-optical-pagination a {
    font-size: 8px;
    padding: 8px 6px; } }

.products-sunglasses-menu li {
  width: 33.3333333%;
  border: 1px solid #DCDCDC; }
  .products-sunglasses-menu li a {
    padding: 24px 0 16px;
    color: #000;
    text-align: center;
    font-size: 32px;
    border-bottom: 8px solid transparent; }
    .products-sunglasses-menu li a:hover {
      border-bottom: 8px solid #AA0601; }
    .products-sunglasses-menu li a:focus {
      border-bottom: 8px solid #AA0601; }

@media (max-width: 992px) {
  .nav .container {
    max-width: 100%; }
  .products-sunglasses-menu li a {
    padding: 16px 0 8px;
    font-size: 24px; } }

@media (max-width: 767px) {
  .products-sunglasses-menu li a {
    font-size: 16px; } }

@media (max-width: 330px) {
  .products-sunglasses-menu li {
    width: 100%; } }

.products-sunglasses-banner img {
  width: 50%; }

.products-sunglasses {
  padding: 80px 0; }
  .products-sunglasses h3 {
    font-size: 42px;
    text-align: center; }
  .products-sunglasses-subtitle {
    font-size: 32px;
    text-align: center; }

.products-sunglasses-item {
  width: 32%;
  font-size: 24px; }
  .products-sunglasses-item-content {
    color: #AA0601; }
  .products-sunglasses-item-colorbox {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer; }
    .products-sunglasses-item-colorbox:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .products-sunglasses-item-colorbox-brown {
      background-color: #5F3E2D; }
    .products-sunglasses-item-colorbox-orange {
      background-color: #B75929; }

.products-sunglasses-pagination a {
  color: #555555;
  border: 1px solid #555555;
  padding: 12px 16px;
  font-size: 18px; }
  .products-sunglasses-pagination a:hover {
    background-color: #000;
    color: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.products-sunglasses-pagination-next {
  background-color: #F2F2F2; }

@media (max-width: 992px) {
  .products-sunglasses-item {
    width: 48%; } }

@media (max-width: 767px) {
  .products-sunglasses {
    padding: 40px 0 64px; }
    .products-sunglasses h3 {
      font-size: 24px; }
    .products-sunglasses-subtitle {
      font-size: 24px; }
    .products-sunglasses-item {
      width: 100%; }
    .products-sunglasses-pagination a {
      font-size: 16px;
      padding: 8px 12px; } }

@media (max-width: 330px) {
  .products-sunglasses-pagination a {
    font-size: 8px;
    padding: 8px 6px; } }

.store {
  padding: 96px 0 80px; }
  .store h2 {
    font-size: 48px;
    padding-left: 1rem;
    position: relative; }
    .store h2::before {
      content: "";
      width: 8px;
      height: 72px;
      background-color: #AA0601;
      position: absolute;
      left: -4px; }
  .store-select {
    font-size: 18px;
    line-height: 26px;
    padding: 5px 238px 5px 12px;
    border: 1px solid #CED4DA;
    color: #495057;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url(../images/arrow_drop_down_FILL0_wght400_GRAD0_opsz48.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right center; }
    .store-select-label {
      font-size: 24px; }

.store-list-item {
  width: 33.33333%;
  padding: 0 12px; }
  .store-list-item a {
    color: #000; }
    .store-list-item a:hover {
      opacity: 0.5; }
  .store-list-item-title {
    padding: 7px 0 7px 24px;
    border: 1px solid #00000020;
    font-size: 24px; }
  .store-list-item-content {
    padding: 15px 24px;
    border: 1px solid #00000020;
    font-size: 20px; }
  .store-list-item-icon {
    width: 24px;
    height: 24px; }
  .store-list-item-detail {
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    padding: 16px 0;
    background: #000;
    color: #fff; }

@media (max-width: 992px) {
  .store {
    padding: 80px 0; }
  .store-list-item {
    width: 48%; } }

@media (max-width: 767px) {
  .store {
    padding: 40px 0 64px; }
    .store-list-item {
      width: 100%; }
    .store h2 {
      font-size: 24px; }
      .store h2::before {
        height: 36px; }
    .store-select {
      padding: 5px 0 5px 12px;
      width: 79%; }
  .store-select-label {
    font-size: 16px; } }

.store-taipei {
  padding: 96px 0 80px; }
  .store-taipei h2 {
    font-size: 48px;
    padding-left: 1rem;
    position: relative; }
    .store-taipei h2::before {
      content: "";
      width: 8px;
      height: 72px;
      background-color: #AA0601;
      position: absolute;
      left: -4px; }
  .store-taipei-select {
    font-size: 18px;
    line-height: 26px;
    padding: 5px 238px 5px 12px;
    border: 1px solid #CED4DA;
    color: #495057;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url(../images/arrow_drop_down_FILL0_wght400_GRAD0_opsz48.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right center; }
    .store-taipei-select-label {
      font-size: 24px; }

.store-taipei-store {
  width: 41%; }
  .store-taipei-store-item-title {
    padding: 7px 0 7px 24px;
    border: 1px solid #00000020;
    font-size: 24px; }
  .store-taipei-store-item-content {
    padding: 15px 24px;
    border: 1px solid #00000020;
    font-size: 20px; }
    .store-taipei-store-item-content a {
      color: #000; }
      .store-taipei-store-item-content a:hover {
        opacity: 0.3; }
  .store-taipei-store-item-icon {
    width: 24px;
    height: 24px; }

.store-taipei-map {
  width: 57%;
  background-image: url("../images/螢幕快照 2020-02-13 16.35.44.png");
  background-position: center center;
  background-size: contain; }

@media (max-width: 992px) {
  .store-taipei {
    padding: 80px 0; }
    .store-taipei-store {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 96%; }
      .store-taipei-store-pic {
        width: 48%; }
      .store-taipei-store-item {
        width: 48%; }
    .store-taipei-map {
      width: 96%;
      height: 414px;
      background-size: cover; } }

@media (max-width: 767px) {
  .store-taipei {
    padding: 40px 0 64px; }
    .store-taipei-store {
      width: 100%;
      display: block; }
      .store-taipei-store-pic {
        width: 100%; }
      .store-taipei-store-item {
        width: 100%; }
    .store-taipei h2 {
      font-size: 24px; }
      .store-taipei h2::before {
        height: 36px; }
    .store-taipei-select {
      padding: 5px 0 5px 12px;
      width: 79%; }
    .store-taipei-map {
      width: 100%;
      height: 208px;
      background-size: contain; }
  .store-taipei-select-label {
    font-size: 16px; } }

.faq {
  padding: 96px 0 80px; }
  .faq h2 {
    font-size: 48px;
    padding-left: 1rem;
    position: relative; }
    .faq h2::before {
      content: "";
      width: 8px;
      height: 72px;
      background-color: #AA0601;
      position: absolute;
      left: -4px; }
  .faq h3 {
    font-size: 24px; }
  .faq-question {
    font-size: 20px; }

@media (max-width: 992px) {
  .faq {
    padding: 80px 0; } }

@media (max-width: 767px) {
  .faq {
    padding: 40px 0 64px; }
    .faq h2 {
      font-size: 24px; }
      .faq h2::before {
        height: 36px; } }

.blog-nav {
  background: #650300; }
  .blog-nav-link {
    font-size: 20px;
    padding: 13px 0; }
    .blog-nav-link:hover {
      color: #AA0601;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }

.blog-search {
  width: 40px;
  height: 40px; }

.blog {
  padding: 96px 0 80px; }
  .blog h2 {
    font-size: 48px;
    padding-left: 1rem;
    position: relative; }
    .blog h2::before {
      content: "";
      width: 8px;
      height: 72px;
      background-color: #AA0601;
      position: absolute;
      left: -4px; }
  .blog img {
    width: 49%; }
  .blog-content {
    width: 49%; }
    .blog-content-title {
      font-size: 32px;
      color: #650300; }
    .blog-content-subtitle {
      font-size: 20px;
      color: #000; }
    .blog-content-date {
      color: #000; }
    .blog-content-text {
      font-size: 20px;
      color: #000; }
    .blog-content-more {
      font-size: 48px;
      color: #650300;
      -ms-flex-item-align: end;
          align-self: flex-end; }
    .blog-content:hover {
      opacity: 0.3;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .blog-content a:hover {
      opacity: 0.3;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }

@media (max-width: 992px) {
  .blog {
    padding: 80px 0; }
    .blog img {
      width: 48%; }
    .blog-content-title {
      font-size: 24px; }
    .blog-content-subtitle {
      font-size: 16px; }
    .blog-content-text {
      font-size: 16px; }
      .blog-content-text-more {
        color: #000; } }

@media (max-width: 767px) {
  .blog {
    padding: 40px 0 64px; }
    .blog h2 {
      font-size: 24px; }
      .blog h2::before {
        height: 36px; }
    .blog img {
      width: 100%; }
    .blog-content {
      width: 100%; } }

.blog-pagination a {
  color: #555555;
  border: 1px solid #555555;
  padding: 12px 16px;
  font-size: 18px; }
  .blog-pagination a:hover {
    background-color: #000;
    color: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.blog-pagination-next {
  background-color: #F2F2F2; }

@media (max-width: 992px) {
  .blog-pagination a {
    font-size: 16px;
    padding: 8px 12px; } }

@media (max-width: 767px) {
  .blog-pagination a {
    font-size: 8px;
    padding: 8px 6px; } }

.blog-nav {
  background: #650300; }
  .blog-nav-link {
    font-size: 20px;
    padding: 13px 0; }
    .blog-nav-link:hover {
      color: #AA0601;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }

.blog-search {
  width: 40px;
  height: 40px; }

@media (max-width: 767px) {
  .blog-nav ul {
    width: 100%; }
  .blog-nav-link {
    font-size: 16px; } }

.blog-event {
  padding: 24px 0 80px; }
  .blog-event-link {
    color: #000; }
    .blog-event-link-special {
      color: #AA0601; }
  .blog-event-content {
    width: 66%; }
    .blog-event-content a {
      color: #000; }
    .blog-event-content h2 {
      font-size: 48px; }
    .blog-event-content h3 {
      font-size: 24px; }
    .blog-event-content-text {
      color: #555555; }
  .blog-event-footer {
    width: 66%; }
    .blog-event-footer a {
      color: #000; }
    .blog-event-footer-share {
      gap: 16px;
      padding-bottom: 15px;
      border-bottom: 1px solid #707070; }
      .blog-event-footer-share img {
        width: 24px;
        height: 24px; }
  .blog-event-tag {
    color: #AA0601;
    font-size: 24px; }
  .blog-event-tagTitle {
    font-size: 32px;
    color: #AA0601; }
  .blog-event .blog-event-tagTitle-label {
    font-size: 48px; }
  .blog-event a:hover {
    opacity: 0.3;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }

@media (max-width: 992px) {
  .blog-event {
    padding: 8px 0 80px; }
    .blog-event-content {
      width: 74%; }
    .blog-event-footer {
      width: 100%; }
    .blog-event-md-tag {
      font-size: 16px; }
    .blog-event-tagTitle {
      font-size: 16px; }
    .blog-event .blog-event-tagTitle-label {
      font-size: 24px; } }

@media (max-width: 767px) {
  .blog-event {
    padding: 16px 0 64px; }
    .blog-event-tag {
      font-size: 16px; }
    .blog-event-content {
      width: 100%; }
      .blog-event-content h2 {
        font-size: 24px; }
      .blog-event-content h3 {
        font-size: 16px; } }

/*# sourceMappingURL=all.css.map */
